<!DOCTYPE html>
<html>
<head>
    <title>Backendless customized change password page</title>
    <link type="text/css" rel="stylesheet" href="style.css" media="all">
    <meta charset="UTF-8">
    <script src="libs/zepto.min.js"></script>
</head>
<body>

<div class="regsuccess">
    <h3>Password change</h3>
    <ul>
        <li>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" class="txt" placeholder="password">
        </li>
        <li>
            <label for="confpassword">Confirm Password:</label>
            <input id="confpassword" name="password" type="password" class="txt" placeholder="confirm password">
        </li>
        <li>
            <input type="button" id="savePass" class="submit green" value="Save">
        </li>
    </ul>
    <div class="info">NOTE: You can change this page.</div>
</div>
<script src="app.js"></script>
</body>
</html>